.headline {
	color: rgba(85, 45, 143, 1.0);
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(85, 45, 143, 1.0) 0%, rgba(85, 45, 143, 1.0) 60%, rgba(85, 45, 143, .5) 60%, rgba(85, 45, 143, .5) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.headline a {
	width: 100%;
	height: 100%;
	
}
.headline .title-lg {
	font-size: 120px;
}

.headline .title-md {
	font-size: 100px;
}

.nav-container {
    display: flex;
    margin-top: 100px;
    padding: 0 50px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgba(21, 8, 129, 1.0);
}

.nav-item {
	width: 200px;
	padding: 10px;
	background-color: rgba(85, 45, 143, 1.0);
	transition: all .5s;
	cursor: pointer;
}

.nav-item .nav-name {
	font-size: 17px;
    text-align: center;
    color: white;
    margin: 0;
    margin-bottom: 12px;
    transition: font-size .5s;
}

.nav-item img {
	width: 100%;
}

.scale-0 {
	width: 320px;
	opacity: 1;
	z-index: 99;
}
.scale-1 {
	width: 260px;
	opacity: .8;
	z-index: 98;
}
.scale-2 {
	width: 200px;
	opacity: .7;
	z-index: 97;
}
.scale-3 {
	width: 160px;
	opacity: .6;
	z-index: 96;
}
.scale-4 {
	width: 140px;
	opacity: .45;
	z-index: 95;
}

.scale-0 .nav-name {
    font-size: 20px;
}
.scale-1 .nav-name {
    font-size: 16px;
}
.scale-2 .nav-name {
    font-size: 14px;
}
.scale-3 .nav-name {
    font-size: 12px;
}
.scale-4 .nav-name {
    font-size: 10px;
}
